<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Login Page</h1>
    <form action="/route/login" method="post">
    <input type="text" placeholder="Enter email" name="email">
    <input type="password" placeholder="Enter password" name="password">
    <button type="submit">SUBMIT</button>
    </form>
</body>
</html>