<%- include ("header") -%>

<div class="container" >
    <center><br><br>

        <label>SIGN</label>
        <form action="/route/sign" method="post">
        <input type="text" placeholder="Enter name" name="name"><br>
        <input type="text" placeholder="Enter email" name="email"><br>
        <input type="password" placeholder="Enter password" name="password"><br><br>
        <button type="submit"class="btn btn-primary btn-sm">SIGN</button><br><br>
        </form><br><br>
        <label>LOGIN</label>
        <form action="/route/login" method="post">
        <input type="text" placeholder="Enter email" name="email"><br>
        <input type="password" placeholder="Enter password" name="password"><br><br>
        <button type="submit"class="btn btn-primary btn-sm">LOGIN</button><br><br>
        </form>

    </center>
</div>
    


<%- include ("footer") -%>


