<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="script.js"></script>
</head>
<body style="padding: 40px;">

<div class="container">
    <button onclick="delData()">Get Data</button>
    <div>
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>authorId</th>
        <th>tags</th>
        <th>category</th>
        <th>subcategory</th>
      </tr>
    </thead>
    <tbody id="table_data">

    </tbody>
  </table>

    </div>
  
</div>


<script>

</script>
</body>
</html>


