<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="images/img-01.png" alt="IMG">
				</div>

				<form action="/authors" method="post" class="login100-form validate-form">
					<span class="login100-form-title">
						Author Registration
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="fname" placeholder="First Name">
						<span class="focus-input100"></span>
				
					</div>

                    <div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="lname" placeholder="Last Name">
						<span class="focus-input100"></span>
			
					</div>


                    <div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="title" placeholder="Mr, Mrs, Miss">
						<span class="focus-input100"></span>
			
					</div>


					<div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
				
					</div>

					<div class="wrap-input100 validate-input" >
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
				
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Register
						</button>
					</div>

					<div class="text-center p-t-80">
						<a class="txt2" href="/login">
							Login Here
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	


</body>
</html>

