* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial, sans-serif;
}

.section-1 {
  flex: 1;
}
.section-1 .logo {
  display: block;
  margin: 0px auto;
  margin-top: 107px;
}

.s-box {
  width: 580px;
  margin: 0px auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
}
.s-box .s-input {
  display: block;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding: 13px;
  padding-left: 15px;
  border-radius: 25px;
  width: 100%;
  transition: box-shadow 100ms;
  outline: none;
}
.s-box .s-input:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.05),
    0 0 3px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05);
}
.s-box .vs-icon {
  width: 16px;
  position: absolute;
  top: 13px;
  right: 20px;
}
.s-btn {
  border: 1px solid transparent;
  padding: 9px 15px;
  color: #666;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 28px;
  outline: none;
  cursor: pointer;
  transition: border-color 100ms;
}
.s-btn:hover {
  border: 1px solid #aaa;
}
.lang {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  color: #111;
}
.lang a {
  margin-left: 10px;
  color: #1a0dab;
}
.lang a:hover {
  text-decoration: underline;
}
